<div class="register-form-container">
  <h2>SIGN-IN</h2>
  <form class="register-form">
    <input type="text" id="login-username" name="login-username" placeholder="Enter a username" required>
    <br>
    <input type="password" id="login-password" name="login-password" placeholder="Enter a password" required>
    <br>
    <button type="submit" class="register-btn">SIGN IN</button>
  </form>
  <a href="/register">Not a member? Sign up now!</a>
  <script src="./js/login.js"></script>
</div>