<div class="register-form-container">
  <h2>Register</h2>
  <form class="register-form">
    <input type="text" id="register-username" name="register-username" placeholder="Enter a username" required>
    <br>
    <input type="email" id="register-email" name="register-email" placeholder="Enter your email" required>
    <br>
    <input type="password" id="register-password" name="register-password" placeholder="Enter a password" required>
    <br>
    <input type="password" id="register-confirm-password" name="register-confirm-password"
      placeholder="Confirm your password" required>
    <br>
    <button type="submit" class="register-btn">REGISTER</button>
  </form>
  <a href="/login">Already a member? Sign in here!</a>
  <script src="./js/register.js"></script>
</div>